In [91]:
import pandas as pd
import numpy as np

In [92]:
df=pd.read_excel('Task1.xlsx')
df

    ID     NAMES     CUISINE        PLACE   TASTE   COLOR  PRICE(RS)
0    0  Dal-bati  Rajasthani       Jaipur   spicy   green        300
1    1    Kadamb     Konkani       Indore   sweet   white        250
2    2    kadabu    Malenadu    Karnataka   spicy  yellow        350
3    3   Pakhala        Odia       Orissa  creamy   white        250
4    4     rasam   Telangana    Telangana   sweet  yellow        400
5    5     Kozhi     Mappila       Kerala    sour   brown        350
6    6   Khichdi  Kathiawadi      Gujarat   sweet   white        300
7    7   Dhansak       Parsi      Lucknow   spicy     red        270
8    8  Kabargah    Kashmiri      Kashmir   spicy     red        330
9    9  Chainsoo     Malvani  Uttarakhand   sweet  yellow        350
10  10  Solkadhi        Naga          Goa   sweet   white        400
11  11     Zutho     Kumaoni       Indore  creamy   white        250
12  12     Gutke      Sindhi        Sindh   spicy     red        300
13  13     Kheer  Rajasthani       Jaipur   sweet   white        250

In [93]:
#Costliest Food
max_value=df['PRICE(RS)'].max()
for i in range(0,len(df.index)):
    if df['PRICE(RS)'][i]==max_value:
        print(df["NAMES"][i])

rasam
Solkadhi

In [106]:
#Cheapest Sweet
filter=df['TASTE']=='sweet'
min_value=df['PRICE(RS)'].where(filter).min()
print(df.loc[np.where((df['TASTE']=='sweet') & (df['PRICE(RS)']==min_value))]['NAMES'])

1     Kadamb
13     Kheer
Name: NAMES, dtype: object

In [107]:
#White Food Found In Jaipur
print(df.loc[np.where((df['COLOR']=='white') & (df['PLACE']=='Jaipur'))]['NAMES'])

13    Kheer
Name: NAMES, dtype: object

In [123]:
#Which Cousine is most popular
print(df['CUISINE'].value_counts()[df['CUISINE'].value_counts() == df['CUISINE'].value_counts().max()])

Rajasthani    2
Name: CUISINE, dtype: int64

In [125]:
#Counts of different tastes for foods
print(df['TASTE'].value_counts()[:5].sort_values(ascending=False))

sweet     6
spicy     5
creamy    2
sour      1
Name: TASTE, dtype: int64

In [127]:
#Food which is available in Indore and taste is sweet
print(df.loc[np.where((df['TASTE']=='sweet') & (df['PLACE']=='Indore'))]['NAMES'])

1    Kadamb
Name: NAMES, dtype: object